---
layout: default
title: FAQs
permalink: /faqs/
---


<div class="container py-lg">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center wj-heading">
      <h2>{{site.data.bestsellers.title}}</h2>
    </div>
  </div>

<div class="fancy-collapse-panel">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      {% for item in site.data.faqs.en %}
       <div class="panel panel-default">
           <div class="panel-heading" role="tab" id="headingOne">
               <h4 class="panel-title">
                   <a class="{% if forloop.index == 1 %}{% else %}collapsed{% endif %}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.index}}" aria-expanded="{% if forloop.index == 1 %}true{% else %}false{% endif %}" aria-controls="collapse{{forloop.index}}">{{item.question}}
                   </a>
               </h4>
           </div>
           <div id="collapse{{forloop.index}}" class="panel-collapse collapse {% if forloop.index == 1 %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{forloop.index}}">
               <div class="panel-body">
                   <div class="row">
                    <div class="col-md-12">
                      <p>{{item.answer}}</p>
                    </div>

                  </div>
               </div>
           </div>
       </div>
      {% endfor %}


    </div>
   </div>
</div>
