---
layout: default-de
title: Products
permalink: /de/products/
---


<div id="wj-bestsellers" class="container py-lg">
  <div class="row animate-box">
    <div class="col-md-6 col-md-offset-3 text-center wj-heading">
      <h2>{{site.data.bestsellers.de.title}}</h2>

    </div>
  </div>
  <div class="row">
    {% for item in site.data.bestsellers.de.products %}
    <div class="col-md-4">
      <div class="blog-entry">
        <a href="{{item.link}}" class="blog-img" style="background-image: url({{item.image}});" target="_blank">
        </a>
        <div class="desc">
          <h3><a href="{{item.link}}">{{item.name}}</a></h3>
          <p>{{item.description | truncate: 90}}<br>
        </p>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- <div class="col-md-4">
      <div class="blog-entry">
        <a href="blog.html" class="blog-img" style="background-image: url(images/blog-2.jpg);">
          <p class="date">
            <span>31</span>
            <span>Jan. 2017</span>
          </p>
        </a>
        <div class="desc">
          <h3><a href="blog.html">live better get to know your medical technology</a></h3>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          <p><a href="#">Read more <i class="icon-arrow-right3"></i></a></p>
        </div>
      </div>
    </div> -->

  </div>

</div>

<div class="bg-light">
<div id="wj-catalogs" class="container py-lg">
  <div class="row animate-box">
    <div class="col-md-6 col-md-offset-3 text-center wj-heading">
      <h2>{{site.data.main.de.catalogs.headline}}</h2>
      <p>{{site.data.main.de.catalogs.tagline}}</p>
    </div>
  </div>
  <div class="row">
    {% for item in site.data.main.de.catalogs.catalog %}
    <div class="col-md-4">
      <div class="blog-entry">
        <a href="{{item.link}}" class="" target="_blank">
          <div class="cat-img" style="background-image: url({{item.image}});"></div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
