<div id="wj-counter" class="wj-counters" style="background-image: url(images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">

          {% for item in site.data.main.de.counters.counter %}
          <div class="col-md-3 col-sm-6 text-center animate-box">
            <span class="icon"><i class="flaticon-{{item.icon}}"></i></span>
            <span class="wj-counter js-counter" data-from="0" data-to="{{item.number}}" data-speed="5000" data-refresh-interval="50"></span>
            <span class="wj-counter-label">{{item.title}}</span>
          </div>
          {% endfor %}
          <!-- <div class="col-md-3 col-sm-6 text-center animate-box">
            <span class="icon"><i class="flaticon-hospital"></i></span>
            <span class="wj-counter js-counter" data-from="0" data-to="378" data-speed="5000" data-refresh-interval="50"></span>
            <span class="wj-counter-label">Hospitals</span>
          </div>
          <div class="col-md-3 col-sm-6 text-center animate-box">
            <span class="icon"><i class="flaticon-healthy-1"></i></span>
            <span class="wj-counter js-counter" data-from="0" data-to="400" data-speed="5000" data-refresh-interval="50"></span>
            <span class="wj-counter-label">Qualified Doctor</span>
          </div>
          <div class="col-md-3 col-sm-6 text-center animate-box">
            <span class="icon"><i class="flaticon-ambulance"></i></span>
            <span class="wj-counter js-counter" data-from="0" data-to="30" data-speed="5000" data-refresh-interval="50"></span>
            <span class="wj-counter-label">Departments</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
