
	<footer id="wj-footer" role="contentinfo">
		<div class="overlay"></div>
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-3 wj-widget">
					<h3>Medicare</h3>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
				</div>
				<div class="col-md-3 col-md-push-1 wj-widget">
					<h3>Navigation</h3>
					<ul class="wj-footer-links">
						<li><a href="#"><i class="icon-check"></i> Department</a></li>
						<li><a href="#"><i class="icon-check"></i> Blog</a></li>
						<li><a href="#"><i class="icon-check"></i> Contact</a></li>
						<li><a href="#"><i class="icon-check"></i> Terms</a></li>
						<li><a href="#"><i class="icon-check"></i> Shop</a></li>
					</ul>
				</div>

				<div class="col-md-3 wj-widget">
					<h3>Our Services</h3>
					<ul class="wj-footer-links">
						<li><a href="#"><i class="icon-check"></i> Heart Surgery</a></li>
						<li><a href="#"><i class="icon-check"></i> Surgical Treatment</a></li>
						<li><a href="#"><i class="icon-check"></i> General Treatment</a></li>
						<li><a href="#"><i class="icon-check"></i> Medical Treatment</a></li>
						<li><a href="#"><i class="icon-check"></i> Help Desk</a></li>
					</ul>
				</div>

				<div class="col-md-3 wj-widget">
					<h3>Make an Appointment</h3>
					<form class="contact-form">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="name" class="form-control" id="name" placeholder="Name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" id="btn-submit" class="btn btn-primary btn-send-message btn-md" value="Send Message">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row copyright">
			<div class="col-md-12 text-center">
				<p>
					<small class="block">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Developed by <a href="https://webjeda.com" target="_blank">Webjeda</a>
</small>

				</p>
			</div>
		</div>
	</footer>
