<nav class="wj-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="top">
							<div class="row">
								<div class="col-md-6">
									<div id="wj-logo"><a href="{{site.baseurl}}/de/">
										<img height="80" src="{{Site.baseurl}}/images/logo.jpg" alt="{{site.title}}">
									</a></div>
								</div>
								<div class="col-md-3">
									<div class="num">
										<span class="icon"><i class="icon-phone"></i></span>
										<p><a href="tel:{{site.data.main.de.info.phone}}">{{site.data.main.de.info.phone}}</a><br>
											<!-- <a href="#">99-222-333</a> -->
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="loc">
										<span class="icon"><i class="icon-mail"></i></span>
										<p><a href="mailto:{{site.data.main.de.info.email}}">{{site.data.main.de.info.email}}</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="menu-wrap">
				<div class="container">
					<div class="row">
						<div class="col-xs-8">
							<div class="menu-1">
								<ul>
									{% for item in site.data.main.de.menus %}
									{% if item.sub %}
										<li class="has-dropdown">
											 <a href="{{site.baseurl}}{{item.link}}">{{item.title}}</a>
										 <ul class="dropdown">
											{% for sub in item.sub %}
											 <li><a href="{{site.baseurl}}{{sub.link}}">{{sub.title}}</a></li>
											 {% endfor %}
										 </ul>
										</li>
										{% else %}
									<li class="{% if page.url == item.link %}active{% endif %}"><a href="{{site.baseurl}}{{item.link}}">{{item.title}}</a></li>
									{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-md-4">
							<p class="btn-cta">
								<a href="#" data-toggle="modal" data-target="#wj-signup"><span>Rundschreiben <i class="icon-mail5"></i></span>
								</a>
								<a href="/" class="btn"><span>English <i class="icon-world"></i></span></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
