<div id="wj-services">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center wj-heading">
        <h2>{{site.data.main.offerings.headline}}</h2>
        <p>{{site.data.main.offerings.tagline}}</p>
      </div>
    </div>
    <div class="row">
      {% for item in site.data.main.offerings.icons %}
      <div class="col-md-3 animate-box">
        <div class="services text-center">
          <span class="icon position-static">
            <i class="{{item.icon}}"></i>
          </span>
          <div class="desc">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</div>
