<aside id="wj-hero" class="intro-slide">
  <div class="flexslider">
    <ul class="slides">
      <li style="background-image: url(/images/Tropfen-neu-e1544433688957-2.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row animate-box fadeInUp animated-fast">
            <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text mt-lg">
              <div class="slider-text-inner px-lg py-lg">
                <h1 class="text-left"><strong>{{site.data.main.de.landing.headline}}</strong></h1>
                <h2 class="doc-holder">{{site.data.main.landing.tagline}}</h2>
                <h2 class="text-left">{{site.data.main.de.landing.description}}</h2>
                <p class="text-left"><a class="btn btn-primary btn-lg" href="{{site.data.main.de.landing.link}}">{{site.data.main.de.landing.button}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!-- <li style="background-image: url(images/img_bg_5.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
              <div class="slider-text-inner">
                <h1>Dr. <strong> Mark Bowman</strong></h1>
                <h2 class="doc-holder">Dr. Mark Bowman's Dental Clinic Welcomes You!</h2>
                <h2>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</h2>
                <p><a class="btn btn-primary btn-lg" href="appointment.html">Make an Appointment</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(images/img_bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
              <div class="slider-text-inner">
                <h1>Have an Access to <strong>a Health Professional at any time</strong></h1>
                <h2>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</h2>
                <p><a class="btn btn-primary btn-lg btn-learn" href="appointment.html">Make an Appointment</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(images/img_bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
              <div class="slider-text-inner">
                <h1>Special offer! <strong>Free Consultation</strong> this month only</h1>
                <h2>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</h2>
                <p><a class="btn btn-primary btn-lg btn-learn" href="appointment.html">Make an Appointment</a></p>
              </div>
            </div>
          </div>
        </div>
      </li> -->
      </ul>
    </div>
</aside>
