<div id="wj-team" class="container-fluid">
			<div class="row">
				<div class="col-md-6 p-0 col-md-push-6">
					<div class="img-bg" style="background-image: url(/images/Frau-Puchtler-und-Herr-Osterreicher-Jun.jpg);"></div>
				</div>

				<div class="col-md-6 col-md-pull-6">
					<div class="animate-box fadeInUp animated-fast pd">
						<h2 class="text-center mb-md">{{site.data.main.team.headline}}</h2>
						<div class="animate-box fadeInUp animated-fast">
							<div class="desc">
								{{site.data.main.team.description}}
							</div>
						</div>
					</div>
				</div>

				</div>
			</div>
