<div id="wj-testimonial" class="wj-bg-section">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center wj-heading">
        <h2>{{site.data.main.testimonials.headline}}</h2>
        <p>{{site.data.main.testimonials.tagline}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 animate-box">
        <div class="owl-carousel">
          {% for item in site.data.main.testimonials.reviews %}
          <div class="item">
            <div class="testimony text-center">
              <span class="img-user" style="background-image: url({{site.baseurl}}{{item.image}});"></span>
              <span class="user">{{item.name}}</span>
              <span class="company"><small>{{item.company}}</small></span>
              <blockquote>
                <p>"{{item.review}}"</p>
                <p class="color"><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span></p>
              </blockquote>
            </div>
          </div>
          {% endfor %}

          <!-- <div class="item">
            <div class="testimony text-center">
              <span class="img-user" style="background-image: url(images/person2.jpg);"></span>
              <span class="user">Carl Bean</span>
              <blockquote>
                <p>"The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli."</p>
                <p class="color"><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span></p>
              </blockquote>
            </div>
          </div>

          <div class="item">
            <div class="testimony text-center">
              <span class="img-user" style="background-image: url(images/person3.jpg);"></span>
              <span class="user">John Bay</span>
              <blockquote>
                <p>"The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli."</p>
                <p class="color"><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span></p>
              </blockquote>
            </div>
          </div>

          <div class="item">
            <div class="testimony text-center">
              <span class="img-user" style="background-image: url(images/person1.jpg);"></span>
              <span class="user">Ronald Duck</span>
              <blockquote>
                <p>"The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli."</p>
                <p class="color"><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span></p>
              </blockquote>
            </div>
          </div>

          <div class="item">
            <div class="testimony text-center">
              <span class="img-user" style="background-image: url(images/person2.jpg);"></span>
              <span class="user">Justine Mill</span>
              <blockquote>
                <p>"The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli."</p>
                <p class="color"><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span><span><i class="icon-star3"></i></span></p>
              </blockquote>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
