img {
  max-width: 100%;
}

.load {
  position: absolute;
  top: 49%;
  left: 49%;
  width: 100px;
  @include media-query($on-palm) {
        left: 44%;
        width: 50px;
  }
}

.overlay {
  background: $brand-color !important;
}

.bg-light {
  background-color: #eaeaea;
}


.intro-slide {
  .flexslider .slides li {
      background-position: right !important;
    }
  .slider-text-inner {
    height: 800px !important;
  }
}

.products {
  .flexslider .slides li {
        background-position: left !important;
      }

      h1, h2 {
        color: white !important;
      }

  }

.wj-nav {
  .top-menu {
    padding: 0;
  }
  .num, .loc {
    top: 30px;
  }
}

.wj-nav .num .icon, .wj-nav .loc .icon{
  top: -20px;
}

.wj-nav ul li.has-dropdown .dropdown {
  top: 25px !important;
}

.wj-nav .menu-wrap {
  background: $brand-color;
}


#wj-hero {
  .doc-holder {
    color: $brand-color !important;
  }


}

#wj-services {
  .services {
    border: none;

    @include media-query($on-palm) {
      padding: 0;
    }

  &:hover {
    box-shadow: none;
  }
    .icon {
      position: static;
      display: inline-block;
      i {
        display: block;
        vertical-align: middle;
        font-size: 40px;
        line-height: 65px;
      }
    }

    .desc {
      padding: 0;
    }
  }
}

#wj-team {
  .choose {
    background: #fff;
  }
  .features-wrap h2, .features-wrap h3, .features-wrap p {
    color: $text-color !important;
  }

  .desc {
    padding-left: 0;
  }

  .pd {
    padding: 4rem 2rem 0 2rem;
  }

  .img-bg {
    height: 650px;
    @include media-query($on-palm) {
      height: 300px;
    }
  }



}

#wj-testimonial {
    .user {
      margin-bottom: 0;
    }
    .company {
      margin-bottom: 20px;
    }
    blockquote {
      margin: 20px 0 20px 0;
    }
}


#wj-footer {
  img {
    opacity: 0.3;
  }

  .copyright {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

#wj-bestsellers {
  .blog-img {
        background-size: contain;
        border: 1px solid whitesmoke;
        border-bottom: none;
  }

  .blog-entry {
    box-shadow: 0 0 15px #e0e0e0;
    height: 550px;
    @include media-query($on-palm) {
        height: auto;
    }
  }

  .desc {
        border: none;
  }
}

#wj-catalogs {
  .cat-img {
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}


#wj-signup {

  .modal-dialog {
      margin: 200px auto;
      @include media-query($on-palm) {
        margin: 10px auto;
      }
  }
}


#mathTest {
    padding: 15px 30px;
}

.gototop a {
  &:hover {
    background: lighten($brand-color, 10%);
  }
}

.img-bg,
.img-user {
  background-position: top center;
}
