img {
  max-width: 100%;
}

.load {
  position: absolute;
  top: 49%;
  left: 49%;
  width: 100px;
  @include media-query($on-palm) {
        left: 44%;
        width: 50px;
  }
}


.intro-slide {
  .flexslider .slides li {
      background-position: right !important;
    }
  .slider-text-inner {
    height: 800px !important;
  }
}

.products {
  .flexslider .slides li {
        background-position: left !important;
      }

  }


#wj-services {
  .services {
  border: none;
  &:hover {
    box-shadow: none;
  }
    .icon {
      position: static;
      display: inline-block;
      i {
        display: block;
        vertical-align: middle;
        font-size: 40px;
        line-height: 65px;
      }
    }

    .desc {
      padding: 0;
    }
  }
}

#wj-team {
  .choose {
    background: #fff;
  }
  .features-wrap h2, .features-wrap h3, .features-wrap p {
    color: $text-color !important;
  }

  .desc {
    padding-left: 0;
  }
}

#wj-testimonial {
    .user {
      margin-bottom: 0;
    }
    .company {
      margin-bottom: 20px;
    }
    blockquote {
      margin: 20px 0 20px 0;
    }
}


#wj-footer {
  img {
    opacity: 0.3;
  }
}
